openapi: 3.0.3
info:
  title: Hateblog Backend API
  description: |
    hateblog リニューアル版のバックエンド API 仕様書。
    はてなブックマークのエントリー情報を提供するREST APIです。
  version: 1.0.0
  contact:
    name: Hateblog Team
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://hateblog.jp/api/v1
    description: 本番環境

security:
  - ApiKeyAuth: []

tags:
  - name: entries
    description: エントリー関連のエンドポイント
  - name: archive
    description: アーカイブ関連のエンドポイント
  - name: rankings
    description: ランキング関連のエンドポイント
  - name: tags
    description: タグ関連のエンドポイント
  - name: search
    description: 検索関連のエンドポイント
  - name: metrics
    description: メトリクス計測関連のエンドポイント
  - name: utilities
    description: ユーティリティ関連のエンドポイント
  - name: admin
    description: 管理機能関連のエンドポイント

paths:
  /entries/new:
    get:
      tags:
        - entries
      summary: 新着順エントリー一覧取得
      description: |
        指定日付のエントリーを新着順（posted_at DESC）で取得します。
        ブックマーク件数での閾値フィルタリングが可能です。
      operationId: getNewEntries
      parameters:
        - name: date
          in: query
          description: 取得対象日付（YYYYMMDD形式）
          required: true
          schema:
            type: string
            pattern: '^\d{8}$'
            example: "20250105"
        - name: min_users
          in: query
          description: 最低ブックマーク件数（5/10/50/100/500/1000など）
          required: false
          schema:
            type: integer
            minimum: 0
            default: 5
            example: 10
        - name: limit
          in: query
          description: 取得件数
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 25
            example: 25
        - name: offset
          in: query
          description: オフセット（ページネーション用）
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
      responses:
        '200':
          description: 成功
          headers:
            X-Cache:
              $ref: '#/components/headers/CacheStatus'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryListResponse'
        '400':
          description: バリデーションエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /entries/hot:
    get:
      tags:
        - entries
      summary: 人気順エントリー一覧取得
      description: |
        指定日付のエントリーを人気順（bookmark_count DESC, posted_at DESC）で取得します。
        ブックマーク件数での閾値フィルタリングが可能です。
      operationId: getHotEntries
      parameters:
        - name: date
          in: query
          description: 取得対象日付（YYYYMMDD形式）
          required: true
          schema:
            type: string
            pattern: '^\d{8}$'
            example: "20250105"
        - name: min_users
          in: query
          description: 最低ブックマーク件数（5/10/50/100/500/1000など）
          required: false
          schema:
            type: integer
            minimum: 0
            default: 5
            example: 50
        - name: limit
          in: query
          description: 取得件数
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 25
            example: 25
        - name: offset
          in: query
          description: オフセット（ページネーション用）
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
      responses:
        '200':
          description: 成功
          headers:
            X-Cache:
              $ref: '#/components/headers/CacheStatus'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryListResponse'
        '400':
          description: バリデーションエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /archive:
    get:
      tags:
        - archive
      summary: 日別エントリー数一覧取得
      description: |
        全期間の日別エントリー数をリスト形式で取得します。
        日付の新しい順に並びます。
      operationId: getArchive
      parameters:
        - name: min_users
          in: query
          description: 最低ブックマーク件数フィルタ（5, 10, 50, 100, 500, 1000）
          required: false
          schema:
            type: integer
            enum: [5, 10, 50, 100, 500, 1000]
            default: 5
            example: 5
      responses:
        '200':
          description: 成功
          headers:
            X-Cache:
              $ref: '#/components/headers/CacheStatus'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchiveResponse'
        '400':
          description: バリデーションエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /rankings/yearly:
    get:
      tags:
        - rankings
      summary: 年次ランキング取得
      description: |
        指定年の「はてブ・オブ・ザ・イヤー」ランキングを取得します。
        ブックマーク件数上位順に並びます。
      operationId: getYearlyRanking
      parameters:
        - name: year
          in: query
          description: 対象年（YYYY形式）
          required: true
          schema:
            type: integer
            minimum: 2000
            maximum: 9999
            example: 2024
        - name: limit
          in: query
          description: 取得件数
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
            example: 100
      responses:
        '200':
          description: 成功
          headers:
            X-Cache:
              $ref: '#/components/headers/CacheStatus'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RankingResponse'
        '400':
          description: バリデーションエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /rankings/monthly:
    get:
      tags:
        - rankings
      summary: 月次ランキング取得
      description: |
        指定年月の月間ランキングTOP 100を取得します。
        ブックマーク件数上位順に並びます。
      operationId: getMonthlyRanking
      parameters:
        - name: year
          in: query
          description: 対象年（YYYY形式）
          required: true
          schema:
            type: integer
            minimum: 2000
            maximum: 9999
            example: 2025
        - name: month
          in: query
          description: 対象月（MM形式、1-12）
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 12
            example: 12
        - name: limit
          in: query
          description: 取得件数
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
            example: 100
      responses:
        '200':
          description: 成功
          headers:
            X-Cache:
              $ref: '#/components/headers/CacheStatus'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RankingResponse'
        '400':
          description: バリデーションエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /rankings/weekly:
    get:
      tags:
        - rankings
      summary: 週次ランキング取得
      description: |
        指定年・週の週間ランキングTOP 100を取得します。
        ブックマーク件数上位順に並びます。
      operationId: getWeeklyRanking
      parameters:
        - name: year
          in: query
          description: 対象年（YYYY形式）
          required: true
          schema:
            type: integer
            minimum: 2000
            maximum: 9999
            example: 2025
        - name: week
          in: query
          description: 対象週（1-53、ISO週番号）
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 53
            example: 1
        - name: limit
          in: query
          description: 取得件数
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
            example: 100
      responses:
        '200':
          description: 成功
          headers:
            X-Cache:
              $ref: '#/components/headers/CacheStatus'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RankingResponse'
        '400':
          description: バリデーションエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /tags/{tag}/entries:
    get:
      tags:
        - tags
      summary: タグ別エントリー一覧取得
      description: |
        指定されたタグに紐づくエントリーを新着順で取得します。
        ブックマーク件数での閾値フィルタリングが可能です。
        タグ閲覧はサーバー側で自動的に記録されます（tag_view_historyテーブル）。
      operationId: getEntriesByTag
      parameters:
        - name: tag
          in: path
          description: タグ名
          required: true
          schema:
            type: string
            maxLength: 100
            example: "技術"
        - name: min_users
          in: query
          description: 最低ブックマーク件数（5/10/50/100/500/1000など）
          required: false
          schema:
            type: integer
            minimum: 0
            default: 5
            example: 10
        - name: limit
          in: query
          description: 取得件数
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 25
            example: 25
        - name: offset
          in: query
          description: オフセット（ページネーション用）
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
      responses:
        '200':
          description: 成功
          headers:
            X-Cache:
              $ref: '#/components/headers/CacheStatus'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryListResponse'
        '400':
          description: バリデーションエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: タグが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /tags/trending:
    get:
      tags:
        - tags
      summary: トレンドタグ一覧取得
      description: |
        直近の人気エントリーで使用されているタグの一覧を取得します。
        指定時間内のエントリーを対象に、タグの出現頻度とスコアを集計して返します。
      operationId: getTrendingTags
      parameters:
        - name: hours
          in: query
          description: 集計対象時間（デフォルト 24時間）
          required: false
          schema:
            type: integer
            enum: [6, 12, 24, 48]
            default: 24
            example: 24
        - name: min_users
          in: query
          description: 対象エントリーの最低ブックマーク件数
          required: false
          schema:
            type: integer
            minimum: 0
            default: 5
            example: 10
        - name: limit
          in: query
          description: 取得件数
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: 成功
          headers:
            X-Cache:
              $ref: '#/components/headers/CacheStatus'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendingTagsResponse'
        '400':
          description: バリデーションエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /tags/clicked:
    get:
      tags:
        - tags
      summary: クリックされたエントリーのタグ一覧取得
      description: |
        実際にクリックされたエントリーで使用されているタグの一覧を取得します。
        click_metricsテーブルを参照し、ユーザーの実際の興味関心を反映したタグを返します。
      operationId: getClickedTags
      parameters:
        - name: days
          in: query
          description: 集計対象日数（デフォルト 7日間）
          required: false
          schema:
            type: integer
            enum: [1, 7, 30]
            default: 7
            example: 7
        - name: limit
          in: query
          description: 取得件数
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: 成功
          headers:
            X-Cache:
              $ref: '#/components/headers/CacheStatus'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClickedTagsResponse'
        '400':
          description: バリデーションエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /search:
    get:
      tags:
        - search
      summary: キーワード検索
      description: |
        エントリーのタイトル・抜粋・URLをキーワード検索します。
        全文検索（pg_bigm）を使用します。
        半角/全角スペース区切りでAND検索します。
        英数字のみの単語は単語境界で一致（大文字小文字は無視）。
      operationId: searchEntries
      parameters:
        - name: q
          in: query
          description: 検索キーワード
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 500
            example: "Go言語"
        - name: min_users
          in: query
          description: 最低ブックマーク件数フィルタ
          required: false
          schema:
            type: integer
            minimum: 0
            default: 5
            example: 5
        - name: limit
          in: query
          description: 取得件数
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 25
            example: 25
        - name: offset
          in: query
          description: オフセット（ページネーション用）
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
      responses:
        '200':
          description: 成功
          headers:
            X-Cache:
              $ref: '#/components/headers/CacheStatus'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          description: バリデーションエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /metrics/clicks:
    post:
      tags:
        - metrics
      summary: クリック計測
      description: |
        エントリーへのクリックを記録します。
        日別集計でclick_metricsテーブルに保存されます。
      operationId: recordClick
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClickMetricsRequest'
      responses:
        '201':
          description: 記録成功
          headers:
            X-Cache:
              $ref: '#/components/headers/CacheStatus'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
        '400':
          description: バリデーションエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /favicons:
    get:
      tags:
        - utilities
      summary: Faviconプロキシ
      description: |
        指定されたドメインのFaviconを取得します。
        Google Favicon API経由で取得し、キャッシュして返します。
      operationId: getFavicon
      security: []
      parameters:
        - name: domain
          in: query
          description: Faviconを取得するドメイン名
          required: true
          schema:
            type: string
            format: hostname
            example: "example.com"
      responses:
        '200':
          description: 成功（画像を返す）
          headers:
            X-Cache:
              $ref: '#/components/headers/CacheStatus'
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/x-icon:
              schema:
                type: string
                format: binary
        '400':
          description: バリデーションエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api-keys:
    post:
      tags:
        - admin
      summary: APIキー発行
      description: |
        新しいAPIキーを発行します。
        現在は認証なしで発行できますが、将来的に認証や発行制限を追加予定です。
      operationId: createApiKey
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '201':
          description: APIキー発行成功
          headers:
            X-Cache:
              $ref: '#/components/headers/CacheStatus'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '400':
          description: バリデーションエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /health:
    get:
      tags:
        - system
      summary: ヘルスチェック
      description: APIサーバーとデータベースの健全性をチェックします。
      operationId: healthCheck
      security: []
      responses:
        '400':
          description: バリデーションエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: 正常
          headers:
            X-Cache:
              $ref: '#/components/headers/CacheStatus'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: サービス利用不可
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        API認証キー。データベースに登録されたキーと照合します。
        ヘッダーに `X-API-Key-ID: your-api-key-id` と `X-API-Key: your-api-key` の両方を含めてリクエストしてください。

        例:
        ```
        X-API-Key-ID: 9f8e7d6c-5b4a-3c2d-1e0f-123456789abc
        X-API-Key: hb_live_1234567890abcdef1234567890abcdef
        ```

  responses:
    UnauthorizedError:
      description: 認証エラー - APIキーまたはAPIキーIDが無効または未提供
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: "UNAUTHORIZED"
            message: "Missing API key or key ID"

  headers:
    CacheStatus:
      description: キャッシュ判定（HIT/MISS）
      schema:
        type: string
        enum: [HIT, MISS]

  schemas:
    Entry:
      type: object
      description: はてなブックマークエントリー
      required:
        - id
        - title
        - url
        - posted_at
        - bookmark_count
        - tags
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: エントリーID
          example: "550e8400-e29b-41d4-a716-446655440000"
        title:
          type: string
          description: エントリーのタイトル
          example: "Go言語による高速なWeb API開発"
        url:
          type: string
          format: uri
          description: エントリーのURL
          example: "https://example.com/article/golang-web-api"
        posted_at:
          type: string
          format: date-time
          description: 記事の投稿日時（ISO 8601形式）
          example: "2025-01-05T10:30:00Z"
        bookmark_count:
          type: integer
          minimum: 0
          description: はてなブックマーク件数
          example: 150
        excerpt:
          type: string
          nullable: true
          description: 記事本文の抜粋
          example: "Go言語を使ったWeb API開発の実践的なテクニックを紹介します..."
        subject:
          type: string
          nullable: true
          description: RSSフィードのsubject（画面非表示、内部利用）
          example: "テクノロジー"
        tags:
          type: array
          description: エントリーに紐づくタグ一覧
          items:
            $ref: '#/components/schemas/EntryTag'
          example:
            - tag_id: "123e4567-e89b-12d3-a456-426614174000"
              tag_name: "Go"
              score: 95
            - tag_id: "223e4567-e89b-12d3-a456-426614174001"
              tag_name: "プログラミング"
              score: 85
        favicon_url:
          type: string
          format: uri
          description: Favicon URL（FaviconプロキシAPI）
          example: "/api/v1/favicons?domain=example.com"
        created_at:
          type: string
          format: date-time
          description: レコード作成日時（ISO 8601形式）
          example: "2025-01-05T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: レコード更新日時（ISO 8601形式）
          example: "2025-01-05T12:00:00Z"

    EntryTag:
      type: object
      description: エントリーに紐づくタグ（スコア付き）
      required:
        - tag_id
        - tag_name
        - score
      properties:
        tag_id:
          type: string
          format: uuid
          description: タグID
          example: "123e4567-e89b-12d3-a456-426614174000"
        tag_name:
          type: string
          maxLength: 100
          description: タグ名
          example: "Go"
        score:
          type: integer
          minimum: 0
          maximum: 100
          description: タグのスコア（Yahoo! キーフレーズ抽出APIから取得した重要度、0〜100）
          example: 95

    EntryListResponse:
      type: object
      description: エントリー一覧レスポンス
      required:
        - entries
        - total
        - limit
        - offset
      properties:
        entries:
          type: array
          description: エントリー一覧
          items:
            $ref: '#/components/schemas/Entry'
        total:
          type: integer
          minimum: 0
          description: 総件数（フィルタ適用後）
          example: 500
        limit:
          type: integer
          description: 1ページあたりの件数
          example: 25
        offset:
          type: integer
          description: オフセット
          example: 0

    TrendingTag:
      type: object
      description: トレンドタグ（出現回数付き）
      required:
        - id
        - name
        - occurrence_count
        - entry_count
      properties:
        id:
          type: string
          format: uuid
          description: タグID
          example: "123e4567-e89b-12d3-a456-426614174000"
        name:
          type: string
          maxLength: 100
          description: タグ名
          example: "Go"
        occurrence_count:
          type: integer
          minimum: 0
          description: 集計期間内での出現回数（エントリー数）
          example: 42
        entry_count:
          type: integer
          minimum: 0
          description: このタグに紐づく総エントリー数
          example: 1234

    TrendingTagsResponse:
      type: object
      description: トレンドタグ一覧レスポンス
      required:
        - tags
        - hours
        - total
      properties:
        tags:
          type: array
          description: トレンドタグ一覧
          items:
            $ref: '#/components/schemas/TrendingTag'
        hours:
          type: integer
          description: 集計対象時間
          example: 24
        total:
          type: integer
          minimum: 0
          description: 該当タグ総数
          example: 50

    ClickedTag:
      type: object
      description: クリックされたタグ（クリック数付き）
      required:
        - id
        - name
        - click_count
        - entry_count
      properties:
        id:
          type: string
          format: uuid
          description: タグID
          example: "123e4567-e89b-12d3-a456-426614174000"
        name:
          type: string
          maxLength: 100
          description: タグ名
          example: "Go"
        click_count:
          type: integer
          minimum: 0
          description: 集計期間内でのクリック数
          example: 156
        entry_count:
          type: integer
          minimum: 0
          description: このタグに紐づく総エントリー数
          example: 1234

    ClickedTagsResponse:
      type: object
      description: クリックされたタグ一覧レスポンス
      required:
        - tags
        - days
        - total
      properties:
        tags:
          type: array
          description: クリックされたタグ一覧
          items:
            $ref: '#/components/schemas/ClickedTag'
        days:
          type: integer
          description: 集計対象日数
          example: 7
        total:
          type: integer
          minimum: 0
          description: 該当タグ総数
          example: 30

    ArchiveItem:
      type: object
      description: 日別エントリー数
      required:
        - date
        - count
      properties:
        date:
          type: string
          format: date
          description: 日付（YYYY-MM-DD形式）
          example: "2025-01-05"
        count:
          type: integer
          minimum: 0
          description: その日のエントリー件数
          example: 1234

    ArchiveResponse:
      type: object
      description: 日別エントリー数一覧レスポンス
      required:
        - items
      properties:
        items:
          type: array
          description: 日別エントリー数一覧（日付降順）
          items:
            $ref: '#/components/schemas/ArchiveItem'

    RankingEntry:
      type: object
      description: ランキングエントリー
      required:
        - rank
        - entry
      properties:
        rank:
          type: integer
          minimum: 1
          description: 順位
          example: 1
        entry:
          $ref: '#/components/schemas/Entry'

    RankingResponse:
      type: object
      description: ランキングレスポンス
      required:
        - period_type
        - year
        - entries
        - total
      properties:
        period_type:
          type: string
          enum: [yearly, monthly, weekly]
          description: ランキング期間種別
          example: "monthly"
        year:
          type: integer
          description: 対象年
          example: 2025
        month:
          type: integer
          nullable: true
          description: 対象月（月次・週次ランキング時のみ）
          example: 12
        week:
          type: integer
          nullable: true
          description: 対象週（週次ランキング時のみ、ISO週番号）
          example: 1
        entries:
          type: array
          description: ランキングエントリー一覧
          items:
            $ref: '#/components/schemas/RankingEntry'
        total:
          type: integer
          minimum: 0
          description: 対象期間の総エントリー数
          example: 10000

    SearchResponse:
      type: object
      description: 検索結果レスポンス
      required:
        - query
        - entries
        - total
        - limit
        - offset
      properties:
        query:
          type: string
          description: 検索キーワード
          example: "Go言語"
        entries:
          type: array
          description: 検索結果のエントリー一覧
          items:
            $ref: '#/components/schemas/Entry'
        total:
          type: integer
          minimum: 0
          description: 検索結果の総件数
          example: 123
        limit:
          type: integer
          description: 1ページあたりの件数
          example: 25
        offset:
          type: integer
          description: オフセット
          example: 0

    ClickMetricsRequest:
      type: object
      description: クリック計測リクエスト
      required:
        - entry_id
      properties:
        entry_id:
          type: string
          format: uuid
          description: エントリーID
          example: "550e8400-e29b-41d4-a716-446655440000"
        referrer:
          type: string
          nullable: true
          description: リファラーURL（オプション）
          example: "https://hateblog.example.com/entries/new"
        user_agent:
          type: string
          nullable: true
          description: ユーザーエージェント（オプション）
          example: "Mozilla/5.0..."

    MetricsResponse:
      type: object
      description: メトリクス記録レスポンス
      required:
        - success
        - message
      properties:
        success:
          type: boolean
          description: 成功フラグ
          example: true
        message:
          type: string
          description: メッセージ
          example: "Click recorded successfully"

    CreateApiKeyRequest:
      type: object
      description: APIキー発行リクエスト
      properties:
        name:
          type: string
          nullable: true
          maxLength: 100
          description: キーの名前（オプション、将来の管理用）
          example: "Frontend App Key"
        description:
          type: string
          nullable: true
          maxLength: 500
          description: キーの説明（オプション）
          example: "本番環境のフロントエンドアプリ用"

    ApiKeyResponse:
      type: object
      description: APIキー発行レスポンス
      required:
        - id
        - key
        - created_at
      properties:
        id:
          type: string
          format: uuid
          description: APIキーID
          example: "9f8e7d6c-5b4a-3c2d-1e0f-123456789abc"
        key:
          type: string
          description: 生成されたAPIキー（この1回のみ表示）
          example: "hb_live_1234567890abcdef1234567890abcdef"
        name:
          type: string
          nullable: true
          description: キーの名前
          example: "Frontend App Key"
        description:
          type: string
          nullable: true
          description: キーの説明
          example: "本番環境のフロントエンドアプリ用"
        created_at:
          type: string
          format: date-time
          description: 作成日時
          example: "2025-01-05T10:00:00Z"

    HealthResponse:
      type: object
      description: ヘルスチェックレスポンス
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          enum: [healthy, unhealthy]
          description: ステータス
          example: "healthy"
        timestamp:
          type: string
          format: date-time
          description: チェック実行日時
          example: "2025-01-05T10:00:00Z"
        database:
          type: object
          description: データベース接続状態
          properties:
            connected:
              type: boolean
              description: 接続可否
              example: true
            response_time_ms:
              type: number
              format: float
              description: レスポンスタイム（ミリ秒）
              example: 5.2

    ErrorResponse:
      type: object
      description: エラーレスポンス
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: エラーコード
          example: "VALIDATION_ERROR"
        message:
          type: string
          description: エラーメッセージ
          example: "Invalid parameter: date format must be YYYYMMDD"
        details:
          type: object
          nullable: true
          description: 詳細情報（オプション）
          additionalProperties: true
          example:
            field: "date"
            value: "20251301"
            constraint: "month must be 1-12"
